body {
  margin: 0;
  padding: 0;
}
#container {
  width: 100vw;
}
#container div {
  padding: 50px;
  border: 5px solid #b02aff;
}
#container {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
}
.left {
  background-color: #ffd62a;
}
.center {
  background-color: #51d400;
}
.right {
  background-color: #ffd62a;
}