* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  width: 100%;
  background-color: yellow;
  height: 400px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.item {
  background-color: purple;
  width: 100px;
  height: 100px;
}