* {
  margin: 0px;
  padding: 0px;
}
.header {
  background-color: cyan;
  width: 800px;
  margin: 0 auto;
  height: 40px;
}
.content {
  display: flex;
  width: 800px;
  margin: 0 auto;
  height: calc(100vh - 80px);
  flex-wrap: nowrap
}
.maincontent {
  background-color: red;
  flex-basis: 70%;
  order: 2;
  margin: 0 10px;
  position: relative;
}
.sidebar-1, .sidebar-2 {
  flex-basis: 15%;
}
.sidebar-1 {
  background-color: orange;
  order: 1;
}
.sidebar-2 {
  background-color: purple;
  order: 3;
}
.layout {
  width: 800px;
  margin: 0 auto;
}
.blackbox {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #000;
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  height: 40px;
  background-color: blue;
}