* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.container div {
  height: 100px;
}

.box1 {
  background-color: green;
  flex-basis: 25%;
}

.box2 {
  background-color: yellow;
  flex-basis: 50%;
}

.box3 {
  background-color: purple;
  flex-basis: 25%;
}