*.stackdump
*.pptx
*.ppt
*.pdf
node_modules
week-04/day-2/garden-app.ts
week-03/day-2/domino.ts
week-03/day-2/dominoes.ts
week-03/day-2/fleet.ts
week-03/day-2/flettOfThings.ts
week-03/day-2/things.ts
week-03/day-4/sierpinski-carpet.png
week-04/day-3/reservations.ts
week-04/day-4/sharpie.ts
week-04/day-4/sharpie.test.ts
week-04/day-2/garden-app.ts
