body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  overflow: hidden;
}

#container>div {
  background-color: #ffd62a;
}

.textcontainerst {
  position: relative;
}

.textcontainerend {
  position: relative;
}

.start {
  left: 25%;
  top: 25%;
}

.pub {
  bottom: 15px;
  left: 25%;
}

.start, .pub {
  transform: rotate(-45deg);
  display: inline-block;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
}

#container div.greenfield {
  grid-column: 2/7;
  grid-row: 2/6;
  background-color: #51d400;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cards {
  background-color: #b02aff;
  display: flex;
  align-items: center;
  padding: 0 120px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}