<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <h1>Manage</h1>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div><a href="/">Go back to the game</a></div>
  <script src="/assets/frontend.js"></script>
</body>

</html>